<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h3>Cloudspokes Challenge 2095</h3>
        <p>Surveys are the lifeblood of wear testing.  A survey is completed when a users fill out their profile,  add actvities of interest,  at  the final product evaluation, and several activities surveys are also completed by the wear testers during the evaulation.</p>
		<p>For this challenge we will create the angularJS client to create the survey templates [admin survey builder]  My definition of a survey template is a prototype document that contains a collection of questions and corresponding meta-data but does not contain any answers.  Once this survey template is instantiated it is cloned and becomes a "survey form" [new document] with the "template" designation is removed and it can contain answers and as well as some meta-data about the user who is filling out the survey.</p>
		<p>You will write directly to mongo from the client.   Later we may introduce and api layer  which will allow us to insert data into elasticsearch but for now just use mongo.  For this challenge we have broken it into three checkpoints: #1 Survey Builder, #2 Survey Preview, and #3 execute the survey.  We will payout for each of the checkpoints.  First place represents winning all three checkpoints so if you win 1st on only one checkpoints divide the first place by three.  It might make sense to break these into separate smaller challenges, but we felt it was better keep them together since they are so interrelated.</p>
		<p>Attached you will find two datafiles.   profiles.csv and questionAnswers.csv that correspond to the two survey types.  You may use these to get an idea of what the questions would be like.  Keep in mind they only have simple numeric or string values.   You solution should be able to support ranges, picklists and sliders which are all described below </p>

Kyle branch .
      </div>

</div> <!-- /container -->
