
<!-- SELECT SUERVEY TYPE/ TEMPLATE START -->
<div class="hero-unit span8" ng-hide="showSurvey">
	<table class="table ">
		<tr><td>
			<h4>Select a survey type:</h4>
		</td><td>
			
			<select ng-model="surveyType" ng-change="selectedType()" 
					ng-options="item as item.name group by item.group for item in surveyTypes | orderBy:'label'">
				<option value="">--</option>
			</select>
		</td><td>
			<button class="btn" ng-disabled="!surveyType._id" ng-click="newTemplate()">Create a new template &raquo;</button>
		</td></tr>
		<tr ng-show="surveyType._id"><td>
				<h4 >Available templates:</h4>				
			</td><td>
			<select ng-model="surveyTemplateId" ng-options="item._id as item.name for item in surveyTemplates | orderBy:'name' | filter: surveyType.group" 
				ng-disabled="!surveyType._id">
				<option value="">--</option>
			</select>
		</td><td>
			<button class="btn" ng-disabled="!surveyTemplateId" ng-click="loadTemplate()">Load an existing template &raquo;</button>
		</td></tr>
	</table>
</div>
<!-- SELECT SUERVEY TYPE/ TEMPLATE END-->


<div ng-show="showSurvey" class="span10">
	<!-- TEMPLATE TYPE INFOS  START -->
	<div class="well well-small">
		<table class="table" >
			<tr><td>
				Template type: 
			</td><td>
				{{currentSurvey.type}} - {{surveyType.name}}
			</td></tr>
			<tr><td>
				Template name: 
			</td><td>
				<input type="text" ng-model="currentSurvey.name"/>
			</td></tr>
			<tr><td>
				Template description: 
			</td><td>
				<textarea ng-model="currentSurvey.description"></textarea>
			</td></tr>
			<tr><td colspan="3">
				<div class="alert alert-block alert-error" ng-show="surveyErrors.length>0">
				  <h4>Error!</h4>
				  <div ng-repeat="msg in surveyErrors">{{msg}}</div>
				</div>
			</td></tr>
		</table>
	</div>
	<!-- TEMPLATE TYPE INFOS  END -->
	
	<!-- QUESTIONS START -->
	<table class="table" >
		<tr><td>
			<p style="center">
				<button class="btn btn-large btn-danger" data-target="#deleteSurveyModal" data-toggle="modal" ng-disabled="isLoading==true || !currentSurvey._id" ng-click="deleteSurvey()">Delete template</button>
				<button class="btn btn-large btn-success" ng-click="saveTemplate()" ng-disabled="isLoading==true || currentSurvey.questions.length==0">Save template</button>
				<button class="btn btn-large" ng-click="init()" ng-disabled="isLoading==true">Cancel</button>
				<span ng-show="isLoading"><img src="/img/loading.gif"/> Loading...</span>
			</p>
		</td></tr>
				<!-- questions -->
		<tr ng-repeat="question in currentSurvey.questions" >
			<td>
				<button class="btn btn-danger" ng-click="removeQuestion(question)"
						ng-disabled="isLoading==true"><i class="icon-trash icon-white"></i></button>
				 <button class="btn btn-warning" ng-click="moveQuestion($index,-1)" 
				 			ng-disabled="$index==0 || isLoading==true"><i class="icon-arrow-up icon-white"></i></button>
				 <button class="btn btn-warning" ng-click="moveQuestion($index,1)" 
				 			ng-disabled="$index>=currentSurvey.questions.length-1 || isLoading==true"><i class="icon-arrow-down icon-white"></i></button>
				<a href="#newQuestionModal" data-toggle="modal" class="btn btn-primary" ng-click="setInsertQuestionAtIndex($index)"
					ng-disabled="isLoading==true">Add new question <i class="icon-plus icon-white"></i></a>
				<button class="btn btn-primary" ng-click="addNewSection($index)" 
				 			ng-disabled="isLoading==true">Add new section <i class="icon-plus icon-white"></i></button>
				<br/><br/>
				<div class="well well-small">
					<a  class="arrow-pointer" data-toggle="collapse" data-target="[id$=__question{{$index}}]">
					  <span ng-hide="question.type=='Section'"><b>[{{$index+1}}] Question  - {{question.question}}</b></span>
					  <span ng-show="question.type=='Section'"><b>[{{$index+1}}] Section - {{question.question}}</b></span>
					</a>
				</div>
				<div id="q__question{{$index}}" class="collapse in">
				<table width="100%">
					<tr ><td width="50%">
					<div class="form-horizontal" >
						<div class="alert alert-block alert-error" ng-show="questionErrors[$index].length>0">
				  			<h4>Error!</h4>
		    				<div ng-repeat="msg in questionErrors[$index]">{{msg}}</div>
						</div>
						<div class="control-group" ng-hide="question.type=='Section'">
							<label class="control-label" for="questionType">Type</label>
							<div class="controls">
							  <span id="questionType" placeholder="Question Name" >{{question.type}}</span>
							</div>
						</div>
						<div class="control-group" ng-show="question.type=='Section'">
							<label class="control-label"  for="questionDisplayName">Section title</label>
							<div class="controls">
							  <input type="text" id="questionDisplayName" placeholder="Section title" ng-model="question.question"/>
							</div>
						</div>
						<div class="control-group" ng-hide="question.type=='Section'">
							<label class="control-label"  for="questionDisplayName">Question</label>
							<div class="controls">
							  <input type="text" id="questionDisplayName" placeholder="Question/instructions that will be on the survey" ng-model="question.question"/>
							</div>
						</div>
						<div class="control-group" ng-hide="question.type=='Section'">
							<label class="control-label" for="questionName">Keywords</label>
							<div class="controls">
							  <input type="text" id="questionName" placeholder="Used to identify or search for an existing question" ng-model="question.keywords"/>
							</div>
						</div>
						<div class="control-group" ng-hide="question.type=='Section'">
							<label class="control-label" for="questionShortName">Unique Question Identifier</label>
							<div class="controls">
							  <input type="text" disabled="true" id="questionShortName" placeholder="Use to reference the question in the database" ng-model="question.unique_identifier"/>
							</div>
						</div>
						<div class="control-group" ng-show="question.type!='Rating' && question.type!='Section'">
							<label class="control-label" for="valueList">Required:</label>
							<div class="controls">
								<input type="checkbox" ng-model="question.options.isRequired"/>			
							</div>
						</div>
						<div class="control-group" ng-hide="question.type=='Section'">
							<label class="control-label" for="questionShortName">Help text</label>
							<div class="controls">
							  <textarea id="questionHelpText" placeholder="Use show a helper tooltip" ng-model="question.helpText"></textarea>
							</div>
						</div>
						
						<!-- RATING -->
						<div class="control-group" ng-show="question.type=='Rating'">
							<label class="control-label" for="minValueLabel">Minimum label</label>
							<div class="controls">
								<input type="text" id="minValueLabel" placeholder="Min Label" ng-model="question.options.minValueLabel"/><br/>
							</div>
							<label class="control-label" for="minValueLabel">Minimum value</label>
							<div class="controls">
								<input type="text" id="minValue" placeholder="Min Value" ng-model="question.options.minValue"/><br/>
							</div>
							<label class="control-label" for="minValueLabel">Maximum label</label>
							<div class="controls">
								<input type="text" id="maxValueLabel" placeholder="Max Label" ng-model="question.options.maxValueLabel"/><br/>
							</div>
							<label class="control-label" for="minValueLabel">Maximum value</label>
							<div class="controls">
								<input type="text" id="maxValue" placeholder="Max Value" ng-model="question.options.maxValue"/><br/>
							</div>
							<label class="control-label" for="minValueLabel">Deafault value</label>
							<div class="controls">
								<input type="text" id="defaultValue" placeholder="Default Value" ng-model="question.options.defaultValue"/><br/>
							</div>
						</div>
						<!-- RATING -->
						
						<!-- Single / Multiple Selection -->
						<div class="control-group" ng-show="question.type=='Single Selection' || question.type=='Multiple Selection'">
							<label class="control-label" >Values</label>
							<div class="controls">
							<table class="table-condensed">
									<tr>
										<th></th><th></th>
										<th>Value</th>
										<th></th>
										<th>Key</th>
										<th></th><th></th>
									</tr>
									<tr ng-repeat="v in question.options.values">
										<td>
											<!-- new value button -->
											<button class="btn btn-mini btn-success" ng-click="newKeyValue(question,$index+1)"><i class="icon-plus icon-white"></i></button>
										</td>
										<td>
											<button class="btn btn-mini btn-danger" ng-click="removeKeyValue(question,$index)"
												ng-disabled="question.options.values.length <= 1"><i class="icon-remove icon-white"></i></button>
										</td>
										<td>
											<input type="text" ng-model="v.value" class="input-mini" placeholder="Value" ng-disabled="!v._editing"/>
										</td>
										<td>
											<button class="btn btn-mini"  ng-hide="v._editing"
												ng-click="v._editing=true"><i class="icon-lock"></i></button>
											<button class="btn btn-mini"  ng-hide="!v._editing"
												ng-click="v._editing=false"><i class="icon-pencil"></i></button>	
										</td>
										<td>
											<input type="text" ng-model="v.key" class="input-mini" placeholder="Key" ng-disabled="!v._editing"/>
										</td>
										<td>
											<button class="btn btn-mini btn-warning"  ng-disabled="$index <= 0"
													ng-click="moveKeyValue(question,$index,$index-1)"><i class="icon-arrow-up icon-white"></i></button>
										</td>
										<td>
											<button class="btn btn-mini btn-warning"  ng-disabled="$index >= question.options.values.length-1"
												ng-click="moveKeyValue(question,$index,$index+1)"><i class="icon-arrow-down icon-white"></i></button>
										</td>
									</tr>
								</table>
							</div>
						</div>
						<!-- Single / Multiple Selection -->
						
						
						<!-- Free form text -->
						<div class="control-group" ng-show="question.type=='Free form text'">
							<label class="control-label" >Single line:</label>
							<div class="controls">
								<input type="checkbox" ng-model="question.options.isSingleLine"/>
							</div>
						</div>
						<div class="control-group" ng-show="question.type=='Free form text'">
							<label class="control-label" >Numeric:</label>
							<div class="controls">
								<input type="checkbox" ng-model="question.options.isNumeric"/>		
							</div>
						</div>	
						<div class="control-group" ng-show="question.type=='Free form text'">
							<label class="control-label" >Hint text:</label>
							<div class="controls">
								<input type="text"  placeholder="give an hint" ng-model="question.hintText"/>
							</div>
						</div>				
						<!-- Free form text -->
						
					</div>
				</td>
				<td width="50%" class="well">
					<!-- PREVIEW QUESTIOn -->
					<div class="form-horizontal collapse in" id="p__question{{$index}}">
						<div class="muted">PREVIEW</div>
						<h3>
							{{question.question}} <span ng-show="question.options.isRequired">*</span>
							
							<a onmouseover="j$(this).tooltip({});j$(this).tooltip('show');" 
								data-delay="0" data-placement="right" data-container="body"
								ng-show="question.helpText" data-toggle="tooltip" data-original-title="{{question.helpText}}">
								<span class="badge badge-warning" style="cursor:pointer;">?</span></a>
						</h3>
						
						<div ng-show="question.type == 'Numeric'">
							<input type="text" placeholder="Numeric value" /><br/>
						</div>
						<div ng-show="question.type == 'Rating'">
								<div class="row">
									<div class="span1">{{question.options.minValueLabel}}</div>
									<div class="span2">
										<slider min="question.options.minValue" max="question.options.maxValue" value="question.options.defaultValue"></slider>
									</div>
									<div class="span1">{{question.options.maxValueLabel}}</div>
								</div>
						</div>
						
						<div ng-show="question.type == 'Single Selection'">
							<center>
								<div class="btn-group btn-group-vertical"  data-toggle="buttons-radio">
									<button ng-show="v.key.length>0" ng-repeat="v in question.options.values" type="button" class="btn btn-warning btn-block">
										&nbsp;&nbsp;{{v.key}}&nbsp;&nbsp;
									</button>
								</div>
							</center>
						</div>
						
						<div ng-show="question.type == 'Multiple Selection'">
							
							<select size="3" multiple="multiple"> 
								<option ng-repeat="v in question.options.values" value="{{v.value}}">
									{{v.key}}
								</option>
							</select>		
						</div>
						
						<div ng-show="question.type == 'Free form text'">
							<input type="text" ng-show="question.options.isSingleLine" placeholder="{{question.hintText}}" /><br/>
							<textarea ng-hide="question.options.isSingleLine" placeholder="{{question.hintText}}" ></textarea>	
						</div>
						
					</div>
				</td></tr>
				</table>
				</div>
			</td>
		</tr>

		<tr><td>
			<a href="#newQuestionModal" data-toggle="modal" class="btn btn-primary" ng-click="setInsertQuestionAtIndex(-1)"
				ng-disabled="isLoading==true">Add new question <i class="icon-plus icon-white"></i></a>
			<button class="btn btn-primary" ng-click="addNewSection($index)" 
				 			ng-disabled="isLoading==true">Add new section <i class="icon-plus icon-white"></i></button>
		</td></tr>
		<tr><td>
			<p style="center">
				<button class="btn btn-large btn-danger" data-target="#deleteSurveyModal" data-toggle="modal" 
						ng-disabled="isLoading==true || !currentSurvey._id" ng-click="deleteSurvey()">Delete template</button>
				<button class="btn btn-large btn-success" ng-click="saveTemplate()" 
						ng-disabled="isLoading==true ||currentSurvey.questions.length==0">Save template</button>
				<button class="btn btn-large" ng-click="init()" ng-disabled="isLoading==true">Cancel</button>
				<span ng-show="isLoading"><img src="/img/loading.gif"/> Loading...</span>
			</p>
		</td></tr>
	</table>
	<!-- QUESTIONS END -->
</div>

<!-- "Add new question" modal START -->
<div id="newQuestionModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Select a new question type</h3>
  </div>
  <div class="modal-body">
    
    	<table class="table">
    		<tr>
				<td><button class="btn" data-dismiss="modal" ng-click="selectQuestionType('Numeric')">Numeric</button></td>
				<td><button class="btn" data-dismiss="modal" ng-click="selectQuestionType('Rating')">Rating</button></td>
				<td><button class="btn" data-dismiss="modal" ng-click="selectQuestionType('Single Selection')">Single Selection</button></td>
				
			</tr><tr>
				<td><button class="btn" data-dismiss="modal" ng-click="selectQuestionType('Multiple Selection')">Multiple Selection</button></td>
				<td><button class="btn" data-dismiss="modal" ng-click="selectQuestionType('Free form text')">Free form text</button></td>
				<td></td>
			</tr>
    	</table>
    
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Add question...</button>
  </div>
</div>

<!-- "Add new question" modal END -->

<!-- Are you sure do you want to delete survey? modal START -->
<div id="deleteSurveyModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel2">WARNING</h3>
  </div>
  <div class="modal-body">
    Are you sure do you want to delete this survey?
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-danger" data-dismiss="modal" ng-click="deleteTemplate()">YES</button>
  </div>
</div>

<!-- Are you sure do you want to delete survey? modal END -->

<!-- "Add new question" modal END -->

<!-- save error! modal START -->
<div id="errorSavingSurveyModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel3 label-danger">ERROR</h3>
  </div>
  <div class="modal-body alert alert-error alert-block">
	<div id="message">Invalid data on survey. See details.</div>
  </div>
  <div class="modal-footer">
    <button class="btn" onclick="j$('#errorSavingSurveyModal').modal('hide');">OK</button>
  </div>
</div>

<!-- save error modal END -->

<!-- info message modal START -->
<div id="infoSurveyModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">
  <div class="modal-header">
    <h4 id="myModalLabel3 label-danger">Info</h3>
  </div>
  <div class="modal-body alert alert-success alert-block">
	<div id="message">Invalid data on survey. See details.</div>
  </div>
  <div class="modal-footer">
    <button class="btn" onclick="j$('#infoSurveyModal').modal('hide');">OK</button>
  </div>
</div>

<!-- info message modal END -->
	

