<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>{{appName}}</h1>
        <p>
        	This is an example of cool things you can do with AngularJS!
        </p>
        <p><a class="btn btn-primary btn-large" href="#/about">Learn more &raquo;</a></p>
      </div>
	  
	  <!-- Example row of columns -->
	  <div class="row">
		<div class="span4">
		  <h2>Build</h2>
		  <p>Build a new survey</p>
		  <p><a class="btn" href="#/build">View details &raquo;</a></p>
		</div>
		<div class="span4">
		  <h2>Compile</h2>
		  <p>Compile a survey</p>
		  <p><a class="btn" href="#/compile">View details &raquo;</a></p>
		</div>
	  </div>


</div> <!-- /container -->
