<!DOCTYPE html>
<html lang="en" ng-app="SurveyBuilder">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<script src="/js/jquery-1.9.1.js"></script>
	<script src="/js/jquery-ui-1.10.1.js"></script>
	<script src="/js/angular-1.0.5.js"></script>
	<script src="/js/bootstrap-2.3.0.js"></script>
	<script src="/js/ng-controllers.js"></script>
	<script src="/js/ng-client.js"></script>
	
    <!-- styles -->
    <link href="/css/main.css" rel="stylesheet">
	<link href="/css/smoothness/jquery-ui-1.10.1.css" rel="stylesheet">
	<link href="/css/bootstrap-2.3.0.css" rel="stylesheet">
	<link href="/css/bootstrap-responsive-2.3.0.css" rel="stylesheet">
	
	<link rel="shortcut icon" href="/img/favicon.ico">
  </head>
  <body id="theBody" ng-controller="MainController">


		 <div class="navbar navbar-inverse navbar-fixed-top">
			  <div class="navbar-inner">
				<div class="container">
				  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a class="brand" href="#">{{appName}}</a>
				  <div class="nav-collapse collapse">
					<ul class="nav">
						<li ng-class="{active: isHomePage}"><a href="/#/home">Home</a></li>
						<li ng-class="{active: isAboutPage}"><a href="/#/about">About</a></li>
						<li ng-class="{active: isBuildPage}"><a href="/#/build">Build</a></li>
						<li ng-class="{active: isCompilePage}"><a href="/#/compile">Compile</a></li>
					</ul>
				   
				  </div><!--/.nav-collapse -->
				</div>
			  </div>
			</div>

			<div class="container">

				<div ng-view ></div>
	
				<hr>
				
				<footer style="text-align:center">
					<p ><img src="/img/megusta.jpg" width="20"/> &copy; {{copyright}} for 
							<a href="http://www.cloudspokes.com/challenges/2095" target="_blank" title="Wear test: Survey Builder I - 2095">CloudSpokes</a>
					</p>
				</footer>

			</div> <!-- /container -->
	
	  </body>
</html>